*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Poppins', sans-serif;
    /* background-color: #F8F8F8; */
    
}

/* header
{
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
} */

nav
{
    margin: auto;
    align-items: center;
    width: 100%;
    height: 10vh;

}
.nav-links,.cart
{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    margin-top: 10px;
    font-size: 20px;
}
.cart
{
    font-size:25px;
}


.nav-link
{
    text-decoration: none;
    color:#0066CC;
    
}

.container-presentation
{
    display: flex;
    width: 90%;
    margin: auto;
    min-height:80vh;
    align-items: center;
}

.introduction
{
    flex: 1;
}

.intro-text h1
{   
    

    font-size: 44px;
    font-weight: 600;
    color: #0066CC;
    background: linear-gradient(to right,#0066CC, #004488 );
    background-clip: text;
    -webkit-background-clip: text;   
    -webkit-text-fill-color: transparent;
}

.intro-text p{
    font-size: 20px;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 2px;
    color: #333333;
}

.cta{
    margin-top: 20px;
    padding: 30px 0px 0px 0px;
}

.cta-select
{
    width: 150px;
    height: 50px;
    font-size: 17px;
    border: 2px solid  #0066CC;
    background: transparent;
    color:  #0066CC;
}

.cta-buy
{
    width: 150px;
    height: 50px;
    font-size: 17px;
    margin-left: 20px;
    background: #0066CC;
    color: #F8F8F8;
    border: none;
}

.cover
{
    flex: 1;
}

.cover img
{
    height: 70vh;
    filter: drop-shadow(0px 5px 3px gray);/*adds effect to whole image*/
    animation: myimage 1.5s ease;
}

.back-svg
{
    position: absolute;
    top: 1%;
    z-index: -1;
    opacity: 0.2;
    height: 90%;
    width: 100%;
}


 i{
    padding: 7px;
    font-size: 20px;
}

@keyframes myimage

{
    0%
    {
        opacity: 0;
        transform: translateY(-80px);
    }    

    100%
    {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* -----------------Max Width - 294px----------------------------- */
@media screen and (max-width:294px) {
    *
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .container-presentation
    {
        flex-direction: column;
        align-items: center;
    }

    .introduction
    {
        margin-top: 30px;
        text-align: center;
    }

    .intro-text h1
    {
        font-size: 30px;
    }

    .intro-text p
    {
        font-size: 18px;
    }

    .cta-select
    {
        width: 120px;
        height: 40px;
    }

    .cta-buy
    {
        margin-top: 10px;
        margin-right: 18px;
        width: 120px;
        height: 40px;
    }

    .cover img
    {
        width: 20rem;
        height: 100vh;
    }
    
    .nav-links.open
  {
    clip-path: circle(10px at 30% 10%);
    -webkit-clip-path: circle(10px at 30% 10%);
    pointer-events: all;
    height: 100%;
  }
}
/*-------------------------------------------------------------*/


/* -------------------- max-width- 789 ------------------------*/
@media screen and (max-width:789px) {

    .line
    {
      width: 30px;
      height: 4px;
      background: #0066CC;
      margin: 5px;
    }
  
    .hamburger
    {
      position: absolute;
      right: 5%;
      top:3%;
      cursor: pointer;
      z-index: 2;
    }
  
    nav
    {
      position: relative;
      z-index: 3;
    }
    .nav-links
    {
      margin: 0;
      position: fixed;
      height: 100vh;
      width: 100%;
      background-color: #F8F8F8;
      flex-direction: column;
      /* display: none; */
      clip-path: circle(0px at 93% 6%);
      -webkit-clip-path: circle(0px at 93% 6%);
      transition: all 1s ease-out;
      pointer-events: none;
    }
  
    .nav-links.open
    {
      clip-path: circle(1000px at 30% 10%);
      -webkit-clip-path: circle(1000px  px at 30% 10%);
      pointer-events: all;
    }
  
    .nav-links li a
    {
      color: #000000;
    }

    /* .cover img
    {
        width: 20rem;
        height: 100vh;
    } */
     
  }
  /*-------------------------------------------------------------------*/

/* -------------------min-width-294 and max-width- 789 ------------------------*/

@media screen and (min-width:294px) and (max-width:789px){
    .container-presentation
    {
        flex-direction: column;
        align-items: center;
    }

    .introduction
    {
        margin-top: 30px;
        text-align: center;
    }

    .intro-text h1
    {
        font-size: 30px;
    }

    .intro-text p
    {
        font-size: 18px;
    }

    .cta-select
    {
        width: 120px;
        height: 40px;
    }

    .cta-buy
    {
        width: 120px;
        height: 40px;
    }

    .cta-select
    {
        margin-left: 20px;
        margin-bottom: 10px;
        width: 120px;
        height: 40px;
    }

    .cta-buy
    {

        width: 120px;
        height: 40px;
    }

    
}
  /*-------------------------------------------------------------------*/



/* ----------------min-width-600pxand max-width-789px------------*/
@media screen and (min-width:600px) and (max-width:789px){
    .cover img
{
    width: 200px;
    height: 90vh;
}
}

/*-------------------------------------------------------------------*/

/* ----------------min-width-789------------*/

@media screen and (min-width:789px) {
    

    .introduction
    {
        margin-top: 30px;
        text-align: center;
    }

    .intro-text h1
    {
        font-size: 25px;
    }

    .intro-text p
    {
        font-size: 16px;
    }

    .cta-select
    {
        width: 120px;
        height: 40px;
    }

    .cta-buy
    {
        width: 120px;
        height: 40px;
    }

    .cover
{
    flex: 0;
}

.cover img
{
    height: 90vh;
    width: 300px;
}

}

/*-------------------------------------------------------------------*/
