*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Poppins', sans-serif;
    /* background-color: #F8F8F8; */
    
}

/* header
{
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
} */

nav
{
    margin: auto;
    align-items: center;
    width: 100%;
    height: 10vh;

}
.nav-links,.cart
{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    margin-top: 10px;
    font-size: 20px;
}
.cart
{
    font-size:25px;
}


.nav-link
{
    text-decoration: none;
    color:#0066CC;
    
}

.container-presentation
{
    display: flex;
    width: 90%;
    margin: auto;
    min-height:80vh;
    align-items: center;
}

.introduction
{
    flex: 1;
}

.intro-text h1
{   
    

    font-size: 44px;
    font-weight: 600;
    color: #0066CC;
    background: linear-gradient(to right,#0066CC, #004488 );
    background-clip: text;
    -webkit-background-clip: text;   
    -webkit-text-fill-color: transparent;
}

.intro-text p{
    font-size: 20px;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 2px;
    color: #333333;
}

.cta{
    margin-top: 20px;
    padding: 30px 0px 0px 0px;
}

.cta-select
{
    width: 150px;
    height: 50px;
    font-size: 17px;
    border: 2px solid  #0066CC;
    background: transparent;
    color:  #0066CC;
}

.cta-buy
{
    width: 150px;
    height: 50px;
    font-size: 17px;
    margin-left: 20px;
    background: #0066CC;
    color: #F8F8F8;
    border: none;
}

.cover
{
    flex: 1;
}

.cover img
{
    height: 70vh;
    filter: drop-shadow(0px 5px 3px gray);/*adds effect to whole image*/
    animation: myimage 1.5s ease;
}

.back-svg
{
    position: absolute;
    top: 1%;
    z-index: -1;
    opacity: 0.2;
    height: 90%;
    width: 100%;
}

.image-selector
{
    position: absolute;
    left: 62%;
    margin-top: -20px;
}

.image-selector i{
    padding: 7px;
    font-size: 20px;
}

@keyframes myimage

{
    0%
    {
        opacity: 0;
        transform: translateY(-80px);
    }    

    100%
    {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width:500px)
{
    .container-presentation
    {
        flex-direction: column;
        align-items: center;
    }

    .introduction
    {
        margin-top: 30px;
        text-align: center;
    }

    .intro-text h1
    {
        font-size: 30px;
    }

    .intro-text p
    {
        font-size: 18px;
    }

    .cta-select
    {
        width: 120px;
        height: 40px;
    }

    .cta-buy
    {
        width: 120px;
        height: 40px;
    }

    .image-selector
    {
        left: 28%;
    }
}

@media screen and (min-width:500px) and (max-width:789px){
    .container-presentation
    {
        flex-direction: column;
        align-items: center;
    }

    .introduction
    {
        margin-top: 30px;
        text-align: center;
    }

    .intro-text h1
    {
        font-size: 30px;
    }

    .intro-text p
    {
        font-size: 18px;
    }

    .cta-select
    {
        width: 120px;
        height: 40px;
    }

    .cta-buy
    {
        width: 120px;
        height: 40px;
    }

    .image-selector
    {
        left: 35%;
    }
}

@media screen and (min-width:654px) and (max-width:719px){

    .image-selector
    {
        left: 36%;
    }

}

@media screen and (min-width:719px) and (max-width:761px){

    .image-selector
    {
        left: 38%;
    }

}

@media screen and (min-width:761px) and (max-width:789px){

    .image-selector
    {
        left: 38%;
    }

}

@media screen and (min-width:789px) and (max-width:989px){

    .image-selector
    {
        left: 58%;
    }

}

@media screen and (min-width:989px) and (max-width:1200px){

    .image-selector
    {
        left: 56%;
    }

}

@media screen and (min-width:1201px) and (max-width:1300px){

    .image-selector
    {
        left: 55%;
    }

}

@media screen and (min-width:789px) and (max-width:1200px){
    

    .introduction
    {
        margin-top: 30px;
        text-align: center;
    }

    .intro-text h1
    {
        font-size: 25px;
    }

    .intro-text p
    {
        font-size: 16px;
    }

    .cta-select
    {
        width: 120px;
        height: 40px;
    }

    .cta-buy
    {
        width: 120px;
        height: 40px;
    }

    .image-selector
    {
        left: 56%;
    }
}